# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt

# IntelliJ’s projec files
.idea

# Mac files
.DS_Store

# Models
src/generation/model/*
!src/generation/model/.gitkeep
src/video_search/model/*
!src/video_search/model/.gitkeep

# Test script
test.py

# Visual Studio Code
.vscode

# venv
.venv
venv

# discord files and directories
generated/*
!generated/.gitkeep